* {
  /* margin: 0 auto; */
  outline: 1px solid red;
  background-color: #f003;
  box-sizing: border-box;
}
body {
  margin: 0 auto;
  max-width: 1440px;
  background-color: white;
  padding: 0px 40px;
  font-family: "Raleway", sans-serif;
  font-size: 1em;
  line-height: 18.78px;
}
i {
  color: #0065fc;
}
h2 {
  line-height: 3em;
}
img {
  object-fit: cover;
}
/*HEADER*/
a {
  text-decoration: none;
  color: black;
}

ul li {
  list-style-type: none;
  display: flex;
  flex-direction: row;
}
header p {
  margin: 25px 0px 25px;
} /*on verrra pour ça*/
i {
  padding: 10px;
}
p > i {
  font-style: normal;
  font-family: Vector;
  color: #0065fc;
  border: 1px solid #d9d9d9;
  border-radius: 50%;
  padding: 4px 10px 4px 10px;
}
/*LOGO*/
.logo {
  display: flex;
  align-items: center;
}
.logo img {
  width: 100px;
}
.nav img:hover {
  filter: drop-shadow(0px 1px 1px #8a2be2);
}
/*NAV*/
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header nav {
  display: flex;
}
.header nav a {
  border-top: 2px solid white;
  padding: 40px;
}

.header nav a:hover {
  color: #0065fc;
  border-top: 2px solid #0065fc;
}
/*SEARCH-FORM*/
form {
  margin: 20px 0px;
}
form i {
  margin-right: -2px;
  height: 40px;
  color: black;
  background-color: #f2f2f2;
  border-radius: 15px 0px 0px 15px;
}
.search {
  margin-right: -2px;
  width: 200px;
  border: 2px solid #f2f2f2;
  height: 40px;
  font-weight: bold;
}
.searchButton {
  background-color: #0065fc;
  color: white;
  border-radius: 0px 15px 15px 0px;
  border: 2px solid #f2f2f2;
  font-weight: bold;
  width: 150px;
  height: 40px;
}
/*FILTRES*/
.filter {
  border: none;
  display: flex;
  gap: 50px;
}
.filtres {
  display: flex;
  align-items: center;
  gap: 50px;
}
.filtres a {
  border: 2px solid #d9d9d9;
  border-radius: 25px;
  padding: 8px;
}
.filter a:hover {
  color: #0065fc;
}
/*CARD GENERAL*/
.card {
  background-color: #ffffff;
  border: 5px;
  border-radius: 20px;
  box-shadow: 0px 3px 15px #d9d9d9;
}
.presentation p,
.presentation .icone {
  font-size: 14px;
}
/*SIDE BY SIDE HOUSING/POPULAR*/
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.hebergements {
  width: 67%;
}
.popular {
  max-width: 30%;
  /* margin-left: 3%; */
}
.hebergements,
.popular {
  border-radius: 20px;
  background-color: #f2f2f2;
}
/*HEBERGEMENT*/
.viewMore {
  color: black;
  font-weight: bold;
  display: block;
  margin: 20px;
}
.housing-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  row-gap: 20px;
}
.hebergements .card {
  min-width: 246px;
  min-height: 199px;
}
.hebergements h4 {
  margin: 5px 0px;
}
.hebergements img {
  min-width: 100%;
  max-height: 124px;
  border: 5px solid #ffffff;
  border-radius: 20px 20px 0px 0px;
}
.hebergements .presentation {
  padding: 0px 20px;
}
/*RATING*/
.rating {
  display: flex;
  flex-direction: row;
}
.icone {
  padding: 5px 0px;
}
.rating i:last-child {
  color: #d9d9d9;
}
/*POPULAR*/
.popular {
  display: flex;
  flex-direction: column;
}
.popular--container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
.popular--container .card {
  display: flex;
  flex-direction: row;
  gap: 15px;
  width: 90%;
}
.popular h2 {
  /* margin-left: 15%; */
  display: flex;
  justify-content: space-between;
  padding-left: 22px;
}
.popular img {
  width: 137px;
  height: 144px;
  border-radius: 20px 0px 0px 20px;
}
/*ACTIVITES*/
.activites {
  padding: 30px 0px 60px;
}
.activities--container {
  display: flex;
  justify-content: space-between;
}
.activities--container .card h4 {
  margin: 20px;
}
.activites img {
  max-width: 302px;
  height: 445px;
  border-radius: 20px 20px 0 0;
}
/*FOOTER*/
footer {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  line-height: 2em;
}
footer a {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
