* {
  margin: 0 auto;
  box-sizing: border-box;
  max-width: 1440px;
}
body {
  background-color: white;
  margin: 40px;
  font-family: "Raleway", sans-serif;
  font-size: 17px;
  line-height: 18.78px;
}
/*HEADER*/
h2 {
  padding: 20px;
}
a {
  text-decoration: none;
  color: black;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
ul li {
  list-style-type: none;
  display: inline-block;
}
header p {
  padding: 10px;
}
i {
  padding: 10px;
}
p > i {
  font-style: normal;
  font-family: Vector;
  color: #0065fc;
  border: 1px solid #d9d9d9;
  border-radius: 50%;
  width: 24px;
  padding: 4px 10px 4px 10px;
}
/*LOGO*/
.logo {
  margin-left: 0; /*pour bien mettre le logo à gauche*/
  width: 61.09px;
  height: 19px;
}
.logo img {
  width: 100px;
}

/*NAV*/
nav {
  margin-right: 0; /*pour bien mettre la nav à droite*/
  padding: 10px;
  margin: 15px;
}
nav ul li {
  margin-left: 4em;
}

/*FORM*/
form {
  padding: 20px;
}
form i {
  margin: -1px;
  padding: 15px;
  background-color: #f2f2f2;
  border-radius: 15px 0px 0px 15px;
  height: 49px;
}

input[type="text"] {
  margin: -5px;
  padding: 20px;
  border: 2px solid #f2f2f2;
  height: 49px;
}
input[type="submit"] {
  background-color: #0065fc;
  color: white;
  font-weight: bold;
  padding: 15px;
  padding-left: -22px;
  border-radius: 0px 15px 15px 0px;
  border: 2px solid #f2f2f2;
  height: 49px;
}
/*FILTRES*/

#filter {
  border: none;
  width: 5%;
}
.filtres li {
  margin-right: 45px;
  border: 2px solid #d9d9d9;
  border-radius: 25px;
  height: 50px;
  padding: 5px;
  padding-right: 20px;
}

/*card en general*/
.card {
  background-color: #ffffff;
  border: 5px;
  border-radius: 20px;
}
.card div {
  padding: 10px;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}
#container {
  display: flex;
  flex-direction: row;
}
.hebergements,
#popular {
  border-radius: 20px;
  background-color: #f2f2f2;
}
/*HEBERGEMENT*/
.hebergements {
  width: 67%;
  margin-right: 3%;
}
.hebergements .card {
  padding: 2px;
  justify-content: space-between;
  width: 246px;
  height: 199px;
  margin: 15px;
}

.hebergements img {
  width: 100%;
  height: 120px;
  border: 5px solid #ffffff;
  border-radius: 20px 20px 0px 0px;
}
div .rating {
  padding: 0%;
  color: #0065fc;
}
.presentation {
  line-height: 1.5em;
}
.card div {
  padding: 0;
}
/*POPULAR*/

#popular {
  width: 30%;
}
#popular .card {
  margin: 30px;
  padding: 4px;
}
#popular img {
  width: 150px;
  height: auto;
  border-radius: 20px 0px 0px 20px;
}
.conteneur .card {
  display: flex;
  justify-content: row;
  width: 80%;
  height: 144px;
}
/*ACTIVITES*/
.activites {
  padding-bottom: 20px;
}
.activites .card {
  width: auto;
}

.activites img {
  width: 302px;
  height: 444.51px;
  border-radius: 20px 20px 0 0;
}
/*FOOTER*/
footer {
  background-color: #f2f2f2;
}

footer li {
  background-color: #f2f2f2;
  text-align: left;
  padding-left: 0;
  display: block;
}
footer .container {
  justify-content: space-around;
}
