* {
  margin: 0 auto;
  box-sizing: border-box;
  max-width: 1440px;
}
body {
  background-color: white;
  margin: 40px;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 18.78px;
}
/*HEADER*/
h2 {
  padding: 20px;
}
a {
  text-decoration: none;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
ul li {
  list-style-type: none;
  display: inline-block;
}
header p {
  padding: 10px;
}
i {
  padding: 10px;
}
/*LOGO*/
.logo {
  margin-left: 0; /*pour bien mettre le logo à gauche*/
}
.logo img {
  width: 100px;
}

/*NAV*/
nav {
  margin-right: 0; /*pour bien mettre la nav à droite*/
}

/*FORM*/
form {
  padding: 20px;
}
form i {
  margin: -1px;
  padding: 15px;
  background-color: #ffffff;
  border-bottom-left-radius: 18px;
  border-top-left-radius: 18px;
}

input[type="text"] {
  margin: -5px;
  padding: 15px;
  border-color: white;
}
input[type="submit"] {
  background-color: #0065fc;
  color: white;
  padding: 15px;
  padding-left: -20px;
  border-bottom-right-radius: 18px;
  border-top-right-radius: 18px;
  border-color: white;
}
/*FILTRE*/
.filtres .container {
  justify-content: flex-start;
}
.filtres li {
  border: 1px solid black;
  border-radius: 20px;
  padding: 5px;
}
/*card en general*/
.card {
  background-color: #ffffff;
  border: 5px;
  border-radius: 20px;
}
.card div {
  padding: 10px;
}

#container {
  display: flex;
  flex-direction: row;
}
/*HEBERGEMENT*/
.hebergements {
  background-color: aqua;
  width: 70%;
}
.hebergements .card {
  padding: 2px;
  justify-content: space-between;
  width: 246px;
  height: 199px;
  margin: 15px;
}

.hebergements img {
  width: 100%;
  height: 120px;
  border: 5px solid #ffffff;
  border-radius: 20px 20px 0px 0px;
}

ul .container {
  justify-content: flex-end;
}
ul li {
  padding: 20px;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

/*POPULAR*/

#popular {
  background-color: blueviolet;
  width: 30%;
}
#popular .card {
  margin: 30px;
  padding: 4px;
}
#popular img {
  width: 150px;
  height: auto;
  border-radius: 20px 0px 0px 20px;
}
.conteneur .card {
  display: flex;
  justify-content: row;
  width: 80%;
  height: 144px;
}
/*ACTIVITES*/
.activites {
  background-color: blue;
  padding-bottom: 20px;
}
.activites .card {
  width: auto;
}

.activites img {
  width: 302px;
  height: 444.51px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}
/*FOOTER*/
footer {
  background-color: white;
}

footer li {
  background-color: aqua;
  text-align: left;
  padding-left: 0;
  display: block;
}
footer .container {
  justify-content: space-around;
}
